<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style th:inline="css">
        @import url([(${font.fontAddress})]);
        :root {
            --bs-font-sans-serif: [(${font.fontName})];
        }
    </style>
    <title>Title</title>
</head>
<body>
<div class="navHidden" th:insert="fragments/nav :: nav"></div>
<div class="container w-75">
    <form th:if="${updateDrop != null}" action="#" th:action="@{/admin/settings/drop/upload}"
          th:object="${updateDrop}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <table class="table" style="text-align: center; margin: auto">
            <tbody>
            <tr th:if="${error!=null}">
                <td colspan="2">
                    <div class="alert alert-danger text-center" role="alert" style="margin: 5px 70px;"
                         th:text="${error}"></div>
                </td>
            </tr>
            <tr>
                <td class="fs-3" th:text="${'Обновление ' + updateDrop.numbersOfDrop + ' капли'}" colspan="2">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control form-control-sm" type="file" th:name="saveDrop">
                </td>
                <td>
                    <button id="input_upload" type="submit" hidden></button>
                    <label class="btn btn-outline-danger" for="input_upload"> Загрузить</label>
                </td>
            </tr>
            </tbody>

        </table>
    </form>
    <table class="table" style="text-align: center; margin: auto">
        <thead>
        <tr>
            <td>
                Количество капель
            </td>
            <td>
                Картинка
            </td>
            <td>
                Редактировать
            </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="drop : ${allDrop}">
            <td th:text="${drop.numbersOfDrop}"></td>
            <td><img style="height:3vw"
                     th:src="@{{img} (img=${drop.addressPicture})}"
                     th:alt="${drop.addressPicture}"></td>
            <td>
                <a class="btn btn-outline-warning" th:href="@{/admin/settings/drop/update-{id} (id=${drop.id})}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </a>
            </td>
        </tr>

        </tbody>
    </table>

</div>
</body>
</html>